a{
    text-decoration: none;
    color: black;
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
    color: white;
}

.sideNav{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    width: 0;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    transition: width 2s ease 0s;
    z-index: 1;
    
}

.sideNav > * {
    padding: 0.5rem 1.5rem;
    transition: background 0.5s ease 0.1s;
}

.sideNav  a:hover {
    background-color: rgb(178, 212, 213);
}

.open {
    transition: width 3s ease 0s;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: flex-end;
}


.navigation_grid {
    display: grid;
    grid-template-columns: auto auto;
    border: solid gray 0.5rem;
}

.navigation_display {
    background-color: gray;
    display: none;
    transition: opacity 3s ease-out 0s;
}

.navigation_display a:hover {
    background-color: rgb(182, 163, 163);
}

.navigation_display a {
    padding: 0.5rem 2rem;
}

.navigation_display_content {
    padding: 1rem;
}

.navigation_display.active {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: translateX(-0.1rem);
    opacity: 1.0;
}
